body{
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
    background-image: url("images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    display: flex;
    background-size:100%;
    background-color:rgba(224, 232, 255, 1)

  }

.main{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 697px;
    background-color: red;
    transform: translate(-50%,-50%);
    background: #FFFFFF;
    box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.151826);
    border-radius: 20px;
}

.top{
    position: relative;
    width: 450px;
    height: 220px;
    border-radius: 20px 20px 0px 0px;

background-color: #698DFF;
}

.o-summary{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 37px;
    margin-left: 48px;
    margin-top:48px;
    margin-right: 48px;
    margin-bottom: 17px;
    font-style: normal;
}

.text{  
    display: flex;
    align-items: center;
    width: 354;
    height: 78px;
    margin-left:48px;
    margin-right: 48px;
    font-size: 16px;
    text-align: center;
    color: #717FA6;
}

.annual-plan{
    display: flex;
    align-items: center;
    position: absolute;
    left: 10.67%;
    right: 10.67%;
    top: 59.83%;
    bottom: 26.11%;
    border-radius: 11px;
    background: #F7F9FF;;
}

.firstsp{
position: absolute;
left: 4.9%;
right: 89.26%;

}

.secondspn{
position: absolute;
left: 23%;
padding: 0;

}

.lastspn{
    position: absolute;
    height: 19px;
    left: 79.01%;
    right: 0%;
    top: calc(50% - 19px/2 + 0.5px);
    color: #382AE1;
    text-decoration: underline;
    &:hover{
        cursor: pointer;
        color: #766CF1;
        text-decoration: none;
    }
     
}

.payment{
position: absolute;
top: 80%;
left: 50%;
transform: translate(-50%);
width: 354px;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
font-size: 15px;
color: white;
background: #382AE1;
box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
border-radius: 11px;
&:hover{
    background: #766CF1;
    box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
    border-radius: 11px;
    cursor: pointer;
}
}

.cancel-order{
position: absolute;
height: 20px;
left: 39.11%;
right: 39.56%;
top: calc(50% - 20px/2 + 290.5px);
font-family: 'Red Hat Display';
font-style: normal;
font-weight: 900;
font-size: 15px;
line-height: 20px;
color: #1F2E55;
&:hover{
    cursor: pointer;
}
}

